<ion-view ng-controller='accountCtrl' view-title='Account'>
<style type="text/css">
  .myItem{
      padding:10px 10px;
  }
  .myItem button, .myItem a{
      margin:0px !important;
  }
</style>
<ion-content>
  <div class="list padding">
      <a href="#/app/changeProfile" class="button button-block button-positive" type="submit">Change Profile</a>
      <a href="#/app/changePassword" class="button button-block button-positive" type="submit">Change Password</a>
      <a href="#/login" class="button button-block button-positive pading-top" type="submit">Logout</a>
  </div>
</ion-content>
</ion-view>
