<ion-view ng-controller='changePasswordCtrl' view-title='Change Password'>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Old Password</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">New Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <a href="#/app/recentChat" class="button button-block button-positive" type="submit">Change Password</a>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>